@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.App {
  background-color: #13042e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #230b61;
  width: 350px;
  padding: 22px;
  border-radius: 8px;
  color: #fff;
}

.container-header {
  text-align: center;
  margin-bottom: 18px;
  color: #fff;
  font-size: 2.5rem;
}

.container-pass {
  background-color: #1d0a4e;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  color: #fff;
  align-items: center;
}

.container-pass h3 {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(203, 200, 200);
}

.copy-btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.generate-btn {
  background-color: #f36992;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 6px;
  margin-top: 1rem;
}

.form-group {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.form-char-length {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.char-length-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider_container {
  width: 100%;
}

input[type="range"] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #e5dfdf;
  border-radius: 0.5rem;
  height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  margin-top: -6px;
  background-color: #f36992;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid #e5dfdf;
}

input[type="checkbox"] {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  background-color: #fff;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #f36992;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.copy-btn:active {
  transform: scale(0.8);
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
}

.generate-btn:active {
  transform: scale(0.97);
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
}
